    body {
        margin: 0;
        background-color: rgba(199, 174, 174, 0.815);
        font-family: sans-serif;
    }
    .container {
        width: 1200px;
        height: 600px;
        background-color: #dedede;
        margin: calc(50vh - 300px) auto;
        border-radius: 20px;
        display: flex;
        overflow: hidden;
    }
    .left {
        height: 100vh;
        width: 20%;
    }
    .right {
        border-radius: 20px 0 0 0;
        width: 80%;
        background-color:pink;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
    }
    .box {
        width: calc(80% - 50px);
    }
    .flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .col {
        border-radius: 20px;
        background-color: rgba(199, 174, 174, 0.815);
        height: 500px;
        width: 20%;
    }
    .card {
        border-radius: 20px;
        background-color: rgba(199, 174, 174, 0.815);
        height: 240px;
        width: calc(50% - 25px); 
    } 
    /* .menu {
        width: 250px;
        outline: solid;
        margin: auto;
    }
    .menu li {
        color: dimgray;
        font-weight: 600;
    }
    .menu ul {
        list-style-type:circle;
    }
    .menu li:hover {
        color:rgb(10, 10, 43);
    }
    ul {
        font-size: 0;
        list-style-type: none;
    }
    li {
        font-size: 15px;
        padding: 15px;
    } */